<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,167}</string>
                <key>spriteSourceSize</key>
                <string>{226,167}</string>
                <key>textureRect</key>
                <string>{{0,950},{226,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,167}</string>
                <key>spriteSourceSize</key>
                <string>{226,167}</string>
                <key>textureRect</key>
                <string>{{0,616},{226,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,167}</string>
                <key>spriteSourceSize</key>
                <string>{226,167}</string>
                <key>textureRect</key>
                <string>{{0,282},{226,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,167}</string>
                <key>spriteSourceSize</key>
                <string>{226,167}</string>
                <key>textureRect</key>
                <string>{{0,449},{226,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,167}</string>
                <key>spriteSourceSize</key>
                <string>{226,167}</string>
                <key>textureRect</key>
                <string>{{0,783},{226,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,167}</string>
                <key>spriteSourceSize</key>
                <string>{226,167}</string>
                <key>textureRect</key>
                <string>{{0,1117},{226,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_pig1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,94}</string>
                <key>spriteSourceSize</key>
                <string>{118,94}</string>
                <key>textureRect</key>
                <string>{{118,94},{118,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_pig2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,94}</string>
                <key>spriteSourceSize</key>
                <string>{118,94}</string>
                <key>textureRect</key>
                <string>{{0,188},{118,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_pig3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,94}</string>
                <key>spriteSourceSize</key>
                <string>{118,94}</string>
                <key>textureRect</key>
                <string>{{110,0},{118,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_pig4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,94}</string>
                <key>spriteSourceSize</key>
                <string>{118,94}</string>
                <key>textureRect</key>
                <string>{{0,94},{118,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,79}</string>
                <key>spriteSourceSize</key>
                <string>{77,79}</string>
                <key>textureRect</key>
                <string>{{33,0},{77,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shit_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,40}</string>
                <key>spriteSourceSize</key>
                <string>{18,40}</string>
                <key>textureRect</key>
                <string>{{15,0},{18,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{236,1284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7d544389af0e19dde302791b9f05db2:7b8cf8600563d13d6b19b42bc4e58018:eee9ac4705ce2dddab0b9fdbb6e99b8f$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
